backend = "glx";
vsync = true;

corner-radius = 0;
rounded-corners-exclude = [
  "window_type = 'dock'",
  "window_type = 'desktop'"
];

active-opacity = 1.0;
inactive-opacity = 0.95;
frame-opacity = 0.8;
inactive-opacity-override = true;

fading = true;
fade-delta = 0;
fade-in-step = 0.03;
fade-out-step = 0.03;

blur-method = "gaussian";
blur-strength = 15;
blur-background = true;
blur-background-frame = true;
blur-background-fixed = false;

blur-background-exclude = [
  "window_type = 'dock'",
  "window_type = 'desktop'",
  "_GTK_FRAME_EXTENTS@:c"
];

focus-exclude = [ "class_g = 'slop'" ];

shadow = true;

